.mc__amortization-plan {
  border: 1px solid red;
  border-radius: 5px;
  padding: 1rem;
  margin: 5px;
  margin-top: 0.5rem;
}
.mc__amortization-plan > h4 {
  background-color: rgb(255, 0, 0);
  color: white;
  border-radius: 5px;
  padding: 1rem;
  margin: 5px;
  margin-top: 5px;
  margin-bottom: 2rem;
}
