.timeframe-selector {
  display: flex;
  justify-content: start;
  align-items: center;
}

.timeframe-selector *:last-child {
  margin-left: 6px;
  border-radius: 2px;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
}

.skeleton-header {
  min-width: 80px;
  min-height: 18px;
  margin-left: 5px;
}

.skeleton-label {
  min-width: 103px;
  min-height: 25px;
  margin: 10px 0;
}

.skeleton-icon {
  min-width: 18px;
  min-height: 18px;
}

.skeleton-text {
  width: 80%;
  margin-bottom: 0;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
