.skeleton-table__container {
  margin-bottom: 5px;
  min-width: 100%;
  min-height: 37px;
  box-sizing: content-box;
}

.skeleton-table__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  min-width: 100%;
  min-height: 27px;
}

.skeleton-table__navigation--left {
  min-width: 180px;
}
.skeleton-table__navigation--right {
  min-width: 315px;
}


.skeleton-table__search {
  margin-bottom: 5px;
  min-width: 100%;
  min-height: 37px;

}

.skeleton-table__row {
  display: flex;
  justify-content: row;
  margin-bottom: 2px;
  min-height: 24px;
  min-width: 100%;
  padding-left: 2px;
}
.skeleton-table__cell {
  min-width: 12%;
  margin-right: 2px;  
  border-radius: 2px;
}

.skeleton-table__cell:first-child {
  min-width: 26%;
  margin-right: 2px;
  border-radius: 2px;
}

.skeleton-table__cell:last-child {
  min-width: 12.6%;
  margin-right: 2px;
  border-radius: 2px;
}

.skeleton-table__header {
  margin-bottom: 2px;
  min-width: 100%;
  min-height: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skeleton-table__head {
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
  min-width: 16.5%;
  min-height: 17px;
  border-radius: 2px;
}
