.mc__payment-details {
  border: 1px solid red;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 2rem;
}

.mc__payment-details > h4 {
  background-color: rgb(255, 0, 0);
  color: white;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 5px;
  margin-bottom: 2rem;
}
