:root {
  --primary: #279cdc;

  --white: #ffffff;
  --green: #c1f2b8;
  --red: #da4f49;
  --grey: #eeeeee;
  --light-grey: #f7f7f7;
  --dark-grey: #bbbbbb;
  --light-black: #222222;
  --black: #000000;

  --font-grey: #8a8a8a;
}

h2,
h3,
h4 {
  margin: 0;
  font-weight: 200;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  font-family: 'Roboto', sans, sans-serif;
}

p {
  display: flex;
  align-items: center;
  margin: 8px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.heading {
  font-family: 'Roboto';
  background-color: rgb(255, 0, 0);
  font-weight: 300;
  color: white;
  border-radius: 5px;
  padding: 0.8rem;
  margin: 5px;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}
