.column {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.margin-8 {
  margin: 8px;
}

.float-right {
  display: flex;
  justify-self: right;
}

.fixed-period__container {
  margin-bottom: 1rem;
}

.box {
  border: 1px solid red;
  border-radius: 5px;
  margin: 0.3rem;
  padding: 0.2rem 1rem 1rem 1rem;
}
